* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 20px 50px;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 38px;
  color: black;
}

.container {
  background-color: rgb(204, 219, 241);
  width: 500px;
  height: auto;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

img {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

.emotion__container {
  width: 48%;
}

.emotion__container > p {
  font-weight: 600;
  margin-left: 5px;
}

.emotions {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#emotion {
  width: 100%;
  height: auto;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
}

#description {
  width: 100%;
  height: auto;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 8px;
}
