<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>그림 생성</title>
    <link rel="stylesheet" href="/css/diary.css" />
  </head>
  <body>
    <h2>Canvas Diary</h2>
    <div class="container">
      <div th:each="url:${diary.canvasImageUrl}">
        <img th:src="@{${url}}" alt="error" />
      </div>
      <div class="emotions">
        <div class="emotion__container">
          <p>my Emotion</p>
          <div id="emotion" th:text="${diary.emotion}">hi</div>
        </div>
        <div class="emotion__container">
          <p>extracted Emotion</p>
          <div id="emotion" th:text="${diary.extractedEmotion}">hi</div>
        </div>
      </div>
      <div id="description" th:text="${diary.description}">hi</div>
    </div>
  </body>
</html>
