<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>일기 작성</title>
    <link rel="stylesheet" href="/css/diary.css" />
  </head>
  <body>
    <h2>Canvas Diary</h2>
    <div class="container">
      <img th:src="@{${diary.canvasImageUrl}}" />
      <div class="emotions">
        <div id="emotion" th:text="${diary.emotion}"></div>
        <div id="emotion" th:text="${diary.extractedEmotion}"></div>
      </div>
      <div id="description" th:text="${diary.description}"></div>
    </div>
  </body>
</html>
