<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>그림 생성</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <h2>Canvas Diary</h2>
    <form id="diaryForm" action="/diaries" method="post">
      <input id="emotion" name="emotion" type="text" placeholder="emotion" />
      <textarea
        id="description"
        name="description"
        placeholder="diary content"
      ></textarea>
      <button type="submit" form="diaryForm">submit</button>
    </form>
  </body>
</html>
`
